@font-face {
  font-family: Aqua;
  src: url(fonts/aqua.ttf) format("truetype"); }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

.nav {
  width: 100%;
  height: 70px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 1; }
  .nav .nav__menu {
    display: flex;
    align-items: center;
    margin-left: 67px; }
    .nav .nav__menu .menu__hamburger {
      border: none;
      font-size: 24px;
      background: transparent;
      position: relative;
      margin-bottom: 3px;
      color: #dfd171;
      cursor: pointer;
      transition: 0.2s;
      z-index: 1; }
      .nav .nav__menu .menu__hamburger:hover {
        color: #f0de60; }
      .nav .nav__menu .menu__hamburger:focus {
        color: #f0de60; }
    .nav .nav__menu p {
      font-size: 22px;
      text-transform: uppercase;
      font-family: Aqua;
      margin-left: 15px;
      color: #ffffff; }
  .nav .menu__list {
    height: 100vh;
    top: 0;
    z-index: 1;
    background-color: #000000;
    left: 0;
    position: absolute;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    width: 0px;
    white-space: nowrap;
    position: fixed; }
    .nav .menu__list .menu__list-wrapper {
      position: relative;
      margin-top: 100px;
      margin-left: 10px; }
      .nav .menu__list .menu__list-wrapper .menu__list--close {
        color: #dfd171;
        background: transparent;
        border: none;
        position: absolute;
        left: 0;
        top: -70px;
        cursor: pointer; }
        .nav .menu__list .menu__list-wrapper .menu__list--close:hover, .nav .menu__list .menu__list-wrapper .menu__list--close:focus {
          color: #f0de60; }
      .nav .menu__list .menu__list-wrapper .menu__list-item a {
        color: #ffffff;
        text-decoration: none;
        font-family: Aqua;
        font-size: 18px;
        line-height: 60px;
        transition: 0.2s; }
        .nav .menu__list .menu__list-wrapper .menu__list-item a:hover, .nav .menu__list .menu__list-wrapper .menu__list-item a:focus {
          color: #f0de60; }
  .nav .nav__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 15px; }
  .nav .nav__options {
    display: flex;
    align-items: center;
    margin-right: 67px;
    position: relative; }
    .nav .nav__options .options-search {
      margin-right: 30px;
      font-size: 21px;
      background: transparent;
      border: none;
      position: relative;
      bottom: 4px;
      cursor: pointer;
      color: #ffffff;
      transition: 0.2s; }
      .nav .nav__options .options-search:hover {
        color: #f0de60; }
      .nav .nav__options .options-search:hover {
        color: #f0de60; }
    .nav .nav__options .options__lang {
      background: transparent;
      border: none;
      cursor: pointer; }
    .nav .nav__options .lang-arrow {
      color: #dfd171;
      font-size: 22px;
      position: relative;
      bottom: 2px;
      right: 2px; }
    .nav .nav__options .options-language {
      font-size: 22px;
      font-family: Aqua;
      color: #ffffff; }
      .nav .nav__options .options-language:hover, .nav .nav__options .options-language:focus {
        color: #f0de60; }
    .nav .nav__options .options__lang-dropdown_list {
      position: absolute;
      display: none;
      flex-direction: column;
      right: 5px;
      text-align: right;
      line-height: 25px;
      top: 25px;
      width: 50px;
      list-style: none; }
      .nav .nav__options .options__lang-dropdown_list a {
        font-family: Aqua;
        text-decoration: none;
        font-size: 22px;
        color: #ffffff; }
        .nav .nav__options .options__lang-dropdown_list a:hover {
          color: #f0de60; }
    .nav .nav__options .options__lang:hover .options__lang-dropdown_list {
      display: flex; }

@media (max-width: 432px) {
  .nav .nav__menu {
    margin-left: 10px; }
    .nav .nav__menu p {
      display: none; }
  .nav .nav__options {
    margin-right: 10px; } }

.header {
  width: 100%;
  height: 950px;
  background-size: cover;
  background-image: url("imgs/header-bg-0.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  position: relative;
  text-align: center; }
  .header h1 {
    font-family: Aqua;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase; }
    .header h1::after {
      content: "";
      background-color: #dfd171;
      margin-top: 5px;
      width: 200px;
      left: 0;
      right: 0;
      height: 1px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: absolute; }
  .header p {
    font-size: 58px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Antic Didone;
    letter-spacing: 5px;
    margin-top: 40px; }
  .header button {
    width: 142px;
    height: 37px;
    border: none;
    background-color: #dfd171;
    color: #000000;
    border: 1px solid #92896a;
    cursor: pointer;
    font-family: Aqua;
    transition: 0.3s;
    font-weight: bold;
    margin-top: 57px; }
    .header button span {
      position: relative;
      top: 1px; }
    .header button:hover, .header button:focus {
      background-color: #f0de60; }
  .header .header__options {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between; }
    .header .header__options .header__options__bubbles {
      display: flex;
      margin-left: 100px; }
      .header .header__options .header__options__bubbles .bubble {
        width: 20px;
        height: 20px;
        border: 2px solid #ffffff;
        border-radius: 10000px;
        display: block;
        position: relative;
        cursor: pointer;
        margin-left: 10px; }
        .header .header__options .header__options__bubbles .bubble .bubble__fill {
          width: 10px;
          height: 10px;
          display: none;
          background-color: #dfd171;
          border-radius: 100000px;
          position: absolute;
          left: 0;
          bottom: 0;
          top: 0;
          right: 0;
          margin: auto; }
        .header .header__options .header__options__bubbles .bubble .bubble__fill.active {
          display: block; }
        .header .header__options .header__options__bubbles .bubble:hover .bubble__fill {
          display: block;
          opacity: 0.5; }
    .header .header__options .header__scroll {
      margin-right: 100px;
      margin-top: 5px; }
      .header .header__options .header__scroll span {
        color: #dfd171;
        float: left;
        position: relative;
        right: 10px;
        top: -3px;
        font-size: 20px; }
      .header .header__options .header__scroll p {
        float: right;
        margin: 0;
        font-size: 16px;
        letter-spacing: normal;
        font-family: Aqua;
        text-transform: none;
        transition: 0.3s; }
        .header .header__options .header__scroll p:hover {
          color: #f0de60; }

@media (max-width: 445px) {
  .header .header__options .header__options__bubbles {
    margin-left: 10px; }
  .header .header__options .header__scroll {
    margin-right: 10px; } }
