@font-face {
  font-family: Aqua;
  src: url(fonts/aqua.ttf) format("truetype"); }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

.nav {
  width: 100%;
  height: 70px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 1; }
  .nav .nav__menu {
    display: flex;
    align-items: center;
    margin-left: 67px; }
    .nav .nav__menu .menu__hamburger {
      border: none;
      font-size: 24px;
      background: transparent;
      position: relative;
      margin-bottom: 3px;
      color: #dfd171;
      cursor: pointer;
      transition: 0.2s;
      z-index: 1; }
      .nav .nav__menu .menu__hamburger:hover {
        color: #f0de60; }
      .nav .nav__menu .menu__hamburger:focus {
        color: #f0de60; }
    .nav .nav__menu p {
      font-size: 22px;
      text-transform: uppercase;
      font-family: Aqua;
      margin-left: 15px;
      color: #ffffff; }
  .nav .menu__list {
    height: 100vh;
    top: 0;
    z-index: 1;
    background-color: #000000;
    left: 0;
    position: absolute;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    width: 0px;
    white-space: nowrap;
    position: fixed; }
    .nav .menu__list .menu__list-wrapper {
      position: relative;
      margin-top: 100px;
      margin-left: 10px; }
      .nav .menu__list .menu__list-wrapper .menu__list--close {
        color: #dfd171;
        background: transparent;
        border: none;
        position: absolute;
        left: 0;
        top: -70px;
        cursor: pointer; }
        .nav .menu__list .menu__list-wrapper .menu__list--close:hover, .nav .menu__list .menu__list-wrapper .menu__list--close:focus {
          color: #f0de60; }
      .nav .menu__list .menu__list-wrapper .menu__list-item a {
        color: #ffffff;
        text-decoration: none;
        font-family: Aqua;
        font-size: 18px;
        line-height: 60px;
        transition: 0.2s; }
        .nav .menu__list .menu__list-wrapper .menu__list-item a:hover, .nav .menu__list .menu__list-wrapper .menu__list-item a:focus {
          color: #f0de60; }
  .nav .nav__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 15px; }
  .nav .nav__options {
    display: flex;
    align-items: center;
    margin-right: 67px;
    position: relative; }
    .nav .nav__options .options-search {
      margin-right: 30px;
      font-size: 21px;
      background: transparent;
      border: none;
      position: relative;
      bottom: 4px;
      cursor: pointer;
      color: #ffffff;
      transition: 0.2s; }
      .nav .nav__options .options-search:hover {
        color: #f0de60; }
      .nav .nav__options .options-search:hover {
        color: #f0de60; }
    .nav .nav__options .options__lang {
      background: transparent;
      border: none;
      cursor: pointer; }
    .nav .nav__options .lang-arrow {
      color: #dfd171;
      font-size: 22px;
      position: relative;
      bottom: 2px;
      right: 2px; }
    .nav .nav__options .options-language {
      font-size: 22px;
      font-family: Aqua;
      color: #ffffff; }
      .nav .nav__options .options-language:hover, .nav .nav__options .options-language:focus {
        color: #f0de60; }
    .nav .nav__options .options__lang-dropdown_list {
      position: absolute;
      display: none;
      flex-direction: column;
      right: 5px;
      text-align: right;
      line-height: 25px;
      top: 25px;
      width: 50px;
      list-style: none; }
      .nav .nav__options .options__lang-dropdown_list a {
        font-family: Aqua;
        text-decoration: none;
        font-size: 22px;
        color: #ffffff; }
        .nav .nav__options .options__lang-dropdown_list a:hover {
          color: #f0de60; }
    .nav .nav__options .options__lang:hover .options__lang-dropdown_list,
    .nav .nav__options .options__lang:focus .options__lang-dropdown_list {
      display: flex; }

@media (max-width: 432px) {
  .nav .nav__menu {
    margin-left: 10px; }
    .nav .nav__menu p {
      display: none; }
  .nav .nav__options {
    margin-right: 10px; } }

.header {
  width: 100%;
  height: 950px;
  background-size: cover;
  background-image: url("imgs/header-bg-0.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  position: relative;
  text-align: center; }
  .header h1 {
    font-family: Aqua;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase; }
    .header h1::after {
      content: "";
      background-color: #dfd171;
      margin-top: 5px;
      width: 200px;
      left: 0;
      right: 0;
      height: 1px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: absolute; }
  .header p {
    font-size: 58px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Antic Didone;
    letter-spacing: 5px;
    margin-top: 40px; }
  .header button {
    width: 142px;
    height: 37px;
    border: none;
    background-color: #dfd171;
    color: #000000;
    border: 1px solid #92896a;
    cursor: pointer;
    font-family: Aqua;
    transition: 0.3s;
    font-weight: bold;
    margin-top: 57px; }
    .header button span {
      position: relative;
      top: 1px; }
    .header button:hover, .header button:focus {
      background-color: #f0de60; }
  .header .header__options {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between; }
    .header .header__options .header__options__bubbles {
      display: flex;
      margin-left: 100px; }
      .header .header__options .header__options__bubbles .bubble {
        width: 20px;
        height: 20px;
        border: 2px solid #ffffff;
        border-radius: 10000px;
        display: block;
        position: relative;
        cursor: pointer;
        margin-left: 10px; }
        .header .header__options .header__options__bubbles .bubble .bubble__fill {
          width: 10px;
          height: 10px;
          display: none;
          background-color: #dfd171;
          border-radius: 100000px;
          position: absolute;
          left: 0;
          bottom: 0;
          top: 0;
          right: 0;
          margin: auto; }
        .header .header__options .header__options__bubbles .bubble .bubble__fill.active {
          display: block; }
        .header .header__options .header__options__bubbles .bubble:hover .bubble__fill {
          display: block;
          opacity: 0.5; }
    .header .header__options .header__scroll {
      margin-right: 100px;
      margin-top: 5px; }
      .header .header__options .header__scroll span {
        color: #dfd171;
        float: left;
        position: relative;
        right: 10px;
        top: -3px;
        font-size: 20px; }
      .header .header__options .header__scroll p {
        float: right;
        margin: 0;
        font-size: 16px;
        letter-spacing: normal;
        font-family: Aqua;
        text-transform: none;
        transition: 0.3s; }
        .header .header__options .header__scroll p:hover {
          color: #f0de60; }

@media (max-width: 445px) {
  .header .header__options .header__options__bubbles {
    margin-left: 10px; }
  .header .header__options .header__scroll {
    margin-right: 10px; } }

.rooms {
  width: 100%;
  height: 2400px; }
  .rooms .rooms__wrapper {
    width: 1380px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .rooms .rooms__wrapper h2 {
      font-family: Aqua;
      color: #000000;
      font-size: 30px;
      text-transform: uppercase;
      padding-top: 40px;
      text-align: center; }
      .rooms .rooms__wrapper h2::after {
        content: "";
        background-color: #dfd171;
        width: 380px;
        height: 1px;
        display: block;
        margin-top: 5px; }
    .rooms .rooms__wrapper .room {
      width: 100%;
      height: 572px;
      position: relative; }
      .rooms .rooms__wrapper .room .rooms__image {
        width: 586px;
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        .rooms .rooms__wrapper .room .rooms__image img {
          width: 586px;
          height: 489px;
          position: absolute;
          top: 0; }
        .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel {
          position: absolute;
          bottom: 0;
          align-self: center; }
          .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .carousel-button {
            background: transparent;
            border: none;
            color: #dfd171;
            cursor: pointer;
            transition: 0.2s; }
            .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .carousel-button:hover, .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .carousel-button:focus {
              color: #000000; }
          .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .deluxe-number,
          .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .executive-number,
          .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .family-number {
            font-family: Montserrat;
            font-weight: bold;
            margin-left: 2px;
            margin-right: 2px;
            position: relative;
            top: -10px;
            cursor: pointer; }
            .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .deluxe-number:hover,
            .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .executive-number:hover,
            .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .family-number:hover {
              opacity: 0.5; }
          .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .deluxe-number.active,
          .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .executive-number.active,
          .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .family-number.active {
            background-color: #dfd171;
            padding: 8px;
            border-radius: 10000px;
            color: #ffffff;
            font-size: 20px;
            box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5); }
            .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .deluxe-number.active:hover,
            .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .executive-number.active:hover,
            .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .family-number.active:hover {
              opacity: 1; }
          .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .carousel-number {
            font-family: Montserrat;
            font-weight: bold;
            margin-left: 2px;
            margin-right: 2px;
            position: relative;
            top: -10px;
            cursor: pointer; }
          .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel .carousel-number.active {
            background-color: #dfd171;
            padding: 8px;
            border-radius: 10000px;
            color: #ffffff;
            font-size: 20px;
            box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5); }
      .rooms .rooms__wrapper .room .rooms__desc {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative; }
        .rooms .rooms__wrapper .room .rooms__desc h3 {
          font-family: Antic Didone;
          font-weight: bold;
          font-size: 46px;
          letter-spacing: 2px;
          position: relative;
          margin-bottom: 40px;
          z-index: 1; }
          .rooms .rooms__wrapper .room .rooms__desc h3::after {
            content: "";
            width: 1px;
            height: 50px;
            background-color: #000000;
            position: absolute;
            bottom: -65px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto; }
        .rooms .rooms__wrapper .room .rooms__desc .desc {
          width: 585px;
          height: 390px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          border: 1px solid #dfd171; }
          .rooms .rooms__wrapper .room .rooms__desc .desc p {
            font-family: Aqua;
            width: 440px; }
          .rooms .rooms__wrapper .room .rooms__desc .desc::before {
            content: "";
            background-color: #ffffff;
            width: 50px;
            height: 1px;
            position: absolute;
            top: -1px; }
          .rooms .rooms__wrapper .room .rooms__desc .desc::after {
            content: "";
            background-color: #ffffff;
            width: 200px;
            height: 1px;
            position: absolute;
            bottom: -1px; }
          .rooms .rooms__wrapper .room .rooms__desc .desc button {
            width: 142px;
            height: 37px;
            border: none;
            background-color: transparent;
            color: #dfd171;
            border: 1px solid #dfd171;
            cursor: pointer;
            font-family: Aqua;
            transition: 0.3s;
            position: absolute;
            bottom: -20px;
            z-index: 1; }
            .rooms .rooms__wrapper .room .rooms__desc .desc button span {
              position: relative;
              top: 1px; }
            .rooms .rooms__wrapper .room .rooms__desc .desc button:hover, .rooms .rooms__wrapper .room .rooms__desc .desc button:focus {
              color: #ffffff;
              background-color: #f0de60; }
    .rooms .rooms__wrapper .rooms__deluxe {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .rooms .rooms__wrapper .rooms__deluxe .rooms__image .deluxe-image {
        opacity: 0;
        transition: 1s; }
      .rooms .rooms__wrapper .rooms__deluxe .rooms__image .deluxe-image.active {
        opacity: 1; }
    .rooms .rooms__wrapper .rooms__executive {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .rooms .rooms__wrapper .rooms__executive .rooms__image {
        order: 2; }
        .rooms .rooms__wrapper .rooms__executive .rooms__image .executive-image {
          opacity: 0;
          transition: 1s; }
        .rooms .rooms__wrapper .rooms__executive .rooms__image .executive-image.active {
          opacity: 1; }
    .rooms .rooms__wrapper .rooms__family {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .rooms .rooms__wrapper .rooms__family .rooms__image .family-image {
        opacity: 0;
        transition: 1s; }
      .rooms .rooms__wrapper .rooms__family .rooms__image .family-image.active {
        opacity: 1; }
    .rooms .rooms__wrapper .rooms__view-more {
      width: 142px;
      height: 37px;
      border: none;
      background-color: transparent;
      color: #000000;
      border: 1px solid #000000;
      cursor: pointer;
      font-family: Aqua;
      transition: 0.3s; }
      .rooms .rooms__wrapper .rooms__view-more span {
        position: relative;
        top: 1px; }
      .rooms .rooms__wrapper .rooms__view-more span {
        position: relative;
        top: -1px; }
      .rooms .rooms__wrapper .rooms__view-more:hover, .rooms .rooms__wrapper .rooms__view-more:focus {
        background-color: #000000;
        color: #ffffff; }

@media (max-width: 1396px) {
  .rooms .rooms__wrapper {
    width: 100%; } }

@media (max-width: 1190px) {
  .rooms {
    height: auto; }
    .rooms .rooms__wrapper h2 {
      padding-top: 70px;
      padding-bottom: 70px; }
    .rooms .rooms__wrapper .room {
      height: 1200px;
      justify-content: center;
      flex-wrap: wrap; }
      .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel {
        top: 500px; }
      .rooms .rooms__wrapper .room .rooms__desc {
        height: auto;
        top: 60px; }
    .rooms .rooms__wrapper .rooms__executive .rooms__image {
      order: unset; }
    .rooms .rooms__wrapper .rooms__view-more {
      position: relative;
      bottom: 40px; } }

@media (max-width: 603px) {
  .rooms .rooms__wrapper .room .rooms__image {
    width: 100%; }
    .rooms .rooms__wrapper .room .rooms__image img {
      width: 100%;
      height: 33%; }
    .rooms .rooms__wrapper .room .rooms__image .rooms__image-carousel {
      top: 430px; }
  .rooms .rooms__wrapper .room .rooms__desc {
    top: 0px;
    width: 100%; }
    .rooms .rooms__wrapper .room .rooms__desc .desc {
      width: 99.6%; } }

@media (max-width: 399px) {
  .rooms .rooms__wrapper h2::after {
    width: 220px;
    margin-left: auto;
    margin-right: auto; } }

.video {
  width: 100%;
  height: 500px;
  background-image: url("imgs/video-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .video h2 {
    font-family: Aqua;
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center; }
    .video h2::after {
      content: "";
      background-color: #dfd171;
      width: 350px;
      height: 1px;
      display: block;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto; }
  .video .video__text {
    width: 1082px;
    height: 250px;
    border: 1px solid #dfd171;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px; }
    .video .video__text p {
      color: #ffffff;
      font-family: Aqua;
      font-size: 14px;
      font-style: italic;
      opacity: 0.9;
      text-align: center;
      width: 900px;
      line-height: 1.7em;
      letter-spacing: 1px; }
    .video .video__text::after {
      content: "";
      width: 220px;
      height: 1px;
      position: absolute;
      bottom: -1px;
      background-image: url("imgs/video-bg.png");
      background-position: center center;
      background-repeat: no-repeat; }
    .video .video__text button {
      width: 142px;
      height: 37px;
      border: none;
      background-color: #dfd171;
      color: #000000;
      border: 1px solid #a29959;
      cursor: pointer;
      font-family: Aqua;
      transition: 0.3s;
      font-weight: 700;
      position: absolute;
      bottom: -20px;
      z-index: 1;
      font-size: 12px; }
      .video .video__text button span {
        position: relative;
        top: 1px; }
      .video .video__text button span {
        font-size: 18px;
        top: 2.5px; }
      .video .video__text button:hover, .video .video__text button:focus {
        background-color: #f0de60; }

@media (max-width: 1101px) {
  .video .video__text {
    width: 95%; }
    .video .video__text p {
      width: 90%; } }

@media (max-width: 375px) {
  .video .video__text {
    height: 300px; } }

@media (max-width: 345px) {
  .video h2::after {
    width: 250px; } }

@media (max-width: 320px) {
  .video {
    height: 600px; }
    .video .video__text {
      height: 400px; } }

.gallery {
  width: 100%;
  min-height: 1481px;
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .gallery h2 {
    font-family: Aqua;
    color: #000000;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center; }
    .gallery h2::after {
      content: "";
      background-color: #dfd171;
      width: 140px;
      height: 1px;
      display: block;
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto; }
  .gallery .gallery__buttons {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .gallery .gallery__buttons .btn-gallery {
      font-size: 24px;
      background-color: transparent;
      font-family: Aqua;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      margin-left: 15px;
      margin-right: 15px;
      transition: 0.5s;
      padding-bottom: 10px;
      border-bottom: 1px solid transparent;
      outline: none; }
      .gallery .gallery__buttons .btn-gallery::first-letter {
        font-weight: 700;
        font-size: 28px; }
      .gallery .gallery__buttons .btn-gallery:hover, .gallery .gallery__buttons .btn-gallery:focus {
        color: #dfd171; }
    .gallery .gallery__buttons .btn-gallery.active {
      border-bottom: 1px solid #dfd171; }
  .gallery .gallery__content {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    min-height: 900px;
    justify-content: space-between; }
    .gallery .gallery__content .gallery__content-box {
      height: 420px;
      width: 380px;
      position: relative;
      transition: all 1s;
      margin-top: 60px; }
      .gallery .gallery__content .gallery__content-box img {
        width: 376px;
        height: 259px; }
      .gallery .gallery__content .gallery__content-box .gallery__number {
        position: absolute;
        left: 0;
        right: 0;
        width: 62px;
        height: 62px;
        margin-left: auto;
        margin-right: auto;
        background-color: #dfd171;
        border-radius: 5000px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        font-size: 29px;
        color: #ffffff;
        font-family: Montserrat;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 130px; }
        .gallery .gallery__content .gallery__content-box .gallery__number::after {
          content: "";
          background-color: #000000;
          width: 1px;
          height: 52px;
          position: absolute;
          left: 32px;
          top: 78px; }
      .gallery .gallery__content .gallery__content-box .gallery__direction {
        position: absolute;
        bottom: 20px;
        font-family: Aqua;
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
        left: 0;
        right: 0; }
    .gallery .gallery__content .gallery__content-box:not(.window) img {
      border: 3px solid #dfd171; }
    .gallery .gallery__content .gallery__content-box.hide {
      display: none; }
  .gallery .gallery__view-more {
    width: 142px;
    height: 37px;
    border: none;
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
    font-family: Aqua;
    transition: 0.3s;
    margin-top: 150px; }
    .gallery .gallery__view-more span {
      position: relative;
      top: 1px; }
    .gallery .gallery__view-more span {
      top: -1px; }
    .gallery .gallery__view-more:hover, .gallery .gallery__view-more:focus {
      color: #ffffff;
      background-color: #000000; }

@media (max-width: 1430px) {
  .gallery .gallery__content {
    width: 100%;
    justify-content: space-around; } }

@media (max-width: 400px) {
  .gallery .gallery__content .gallery__content-box img {
    width: 98.9%; } }
